.c-article {
  @include content-wrapper;
}

.c-article__content {
  padding-top: ms(4);
  padding-bottom: ms(4);

  .content__meta {
    margin-bottom: ms(1);

    @include s1;
  }

  > h2,
  > h3,
  > h4 {
    margin-bottom: ms(-2);
    color: $dark-cyan;

    @include serif-font;
  }

  > h2 {
    @include t2;
  }

  > h3 {
    @include t1;
  }

  > h4 {
    font-size: ms(0);
  }

  > p {
    @include paragraph-copy;

    + h2,
    + h3,
    + h4 {
      margin-top: ms(3);
    }
  }

  > ol,
  > ul,
  > dl {
    margin: ms(0) 0;
  }

  > ol,
  > ul {
    padding-left: ms(3);
  }

  > dl {
    dt {
      font-weight: map-get($font-weight, bold);
    }

    dd {
      margin-left: ms(2);
    }
  }

  > blockquote {
    @include blockquote;
  }
}
