.c-donate-prompt {
  padding: ms(4) 0;
  color: $white;
  background-color: $cyan;
}

.c-donate-prompt__inner {
  grid-template-columns: 1fr column-width(3);
  align-items: center;

  @include grid-row;

  @include media-query($md-tablet) {
    grid-template-columns: 1fr column-width(2);
  }
}

.c-donate-prompt__text {
  font-size: ms(2);

  @include serif-font(regular);
}
