.c-footer {
  background-color: $dark-cyan;
  color: $white;

  a {
    @include link($color: $white, $hover-color: $lt-cyan, $has-border: false);
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

/** Top part of the footer */

.c-footer__top {
  padding: ms(3) 0;
  border-bottom: 1px solid $white;

  @include media-query($lg-tablet) {
    padding: ms(5) 0;
    grid-template-columns: 1fr column-width(3);

    @include grid-row;
  }
}

.c-footer__nav {
  @include media-query($sm-mobile) {
    grid-template-columns: repeat(2, 1fr);

    @include grid-row($row-gap: ms(1));
  }

  @include media-query($sm-tablet) {
    grid-template-columns: repeat(4, 1fr);

    @include grid-row-gap(initial);
  }

  > .menu-item:not(:last-of-type) {
    margin-bottom: ms(1);

    @include media-query($sm-mobile) {
      margin-bottom: 0;
    }
  }

  > .menu-item > a {
    display: block;
    margin-bottom: ms(-1);

    @include footer-header;
  }

  .sub-menu {
    .menu-item {
      line-height: strip-unit(ms(1));

      &:not(:last-of-type) {
        margin-bottom: ms(-3);
      }

      a {
        @include footer-copy;
      }
    }
  }
}

.c-footer__informed {
  margin-top: ms(1);

  @include media-query($lg-tablet) {
    margin-top: 0;
  }
}

.informed__header {
  @include sans-serif-font;
  @include footer-header;
}

.informed__copy {
  @include footer-copy;
}

/** Bottom part of the footer */

.c-footer__bottom {
  padding: ms(1) 0;

  @include media-query($md-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.c-footer__copy {
  display: block;
  margin-bottom: ms(-6);

  @include footer-copy;

  @include media-query($md-tablet) {
    margin-bottom: 0;
  }
}

.c-footer__misc,
.misc__item {
  @include media-query($sm-mobile) {
    display: flex;
  }
}

.misc__item {
  @include media-query($sm-mobile) {
    align-items: center;

    &:not(:last-of-type) {
      &::after {
        content: "|";
        padding: 0 ms(-4);
      }
    }
  }
}

.misc__link {
  @include footer-copy;
}
