.nav__list,
.nav__list > .menu-item,
.nav__list > .menu-item > a {
  @include media-query($lg-tablet) {
    display: flex;
  }
}

.c-header {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: $white;
  border-bottom: 1px solid $lt-gray;
}

.c-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.c-header__logo {
  color: $dark-cyan;
  font-size: ms(0);
  font-weight: map-get($font-weight, semi-bold);
}

.c-header__nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-x: scroll;
  padding-top: ms(7);
  background-color: $dark-cyan;
  visibility: hidden;
  font-size: ms(2, 1vw);

  &.js-nav--open {
    visibility: visible;
  }

  ul {
    margin: 0;
    list-style: none;
  }

  @include media-query($lg-tablet) {
    position: static;
    width: initial;
    visibility: visible;
    min-height: auto;
    height: inherit;
    overflow-x: initial;
    padding-top: 0;
    background-color: transparent;
    font-size: inherit;
  }
}

.c-header__nav-trigger {
  display: flex;

  @include media-query($lg-tablet) {
    display: none;
  }
}

.nav-trigger__btn {
  padding: 0;
  font-size: inherit;

  .btn__menu-icon {
    display: inline-block;
    vertical-align: bottom;
    width: ms(3);
    height: ms(3);
    fill: $md-gray;

    @include hover-transition(fill);
  }

  &:hover .btn__menu-icon {
    fill: $dark-cyan;
  }
}

.nav__list {
  width: 100%;
  padding-left: ms(4, 1em);

  @include media-query($lg-tablet) {
    padding-left: 0;
    width: initial;
    height: inherit;

    > .menu-item:hover > a,
    .sub-menu .menu-item a:hover {
      color: $medium-cyan;
    }

    > .menu-item:hover {
      > a::after {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
      }

      &.menu-item-has-children .sub-menu {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
      }
    }
  }

  .menu-item a {
    @include hover-transition(color);

    @include media-query($lg-tablet) {
      font-weight: map-get($font-weight, semi-bold);

      @include sans-serif-font;
    }
  }

  > .menu-item {
    position: relative;
    font-size: ms(5, 1em);

    @include media-query($lg-tablet) {
      font-size: inherit;
      padding: 0 ms(0, 1em);
    }

    &:not(:last-of-type) {
      margin-bottom: ms(-4, 1em);

      @include media-query($lg-tablet) {
        margin-bottom: 0;
      }
    }

    > a {
      position: inherit;
      color: $white;

      @include media-query($lg-tablet) {
        align-items: center;
        color: $dark-gray;
        font-size: ms(0, 0.875rem);

        &::after {
          content: "";
          position: absolute;
          bottom: ms(1, 0.875rem);
          left: 50%;
          width: 100%;
          height: 3px;
          background-color: $medium-cyan;
          opacity: 0;
          transform: translateX(-50%) translateY(100%);

          @include hover-transition(all);
        }
      }

      @include max-width-mq($lg-tablet) {
        @include serif-font;
      }
    }
  }

  > .menu-item-has-children {
    cursor: pointer;

    &::before {
      @include max-width-mq($lg-tablet) {
        content: "";
        display: inline-block;
        position: absolute;
        margin-top: ms(-2, -1.75em) / 2;
        top: ms(-2, 1.75em);
        right: ms(-2, 1em);
        background-image: url('../images/angle-down.svg');
        background-size: ms(-2, 1.125em) ms(-2, 1.75em);
        width: ms(-2, 1.125em);
        height: ms(-2, 1.75em);
        color: $white;
      }
    }

    &.sub-menu--open::before {
      transform: rotate(180deg);
    }

    .sub-menu {
      display: none;
      padding: 0;

      a {
        display: block;
        padding: ms(-4, 1em) 0 ms(-4, 1em) ms(-1, 1em);
        font-size: ms(-1, 1em);
        color: $xlt-gray;

        @include max-width-mq($lg-tablet) {
          @include serif-font(regular);
        }
      }

      .menu-item {
        cursor: auto;

        @include max-width-mq($lg-tablet) {
          line-height: strip-unit(ms(0));
        }
      }

      @include media-query($lg-tablet) {
        position: absolute;
        top: 100%;
        left: ms(0);
        display: block;
        min-width: ms(9);
        padding: ms(0) ms(0);
        opacity: 0;
        background-color: $white;
        pointer-events: none;
        cursor: auto;
        border: 1px solid $lt-gray;
        box-shadow: 0 1px 1px 0 rgba($black, 0.05);
        transform: translateY(9%);

        a {
          padding: ms(-4) 0;
          font-size: ms(0, 0.875rem);
          color: $md-gray;
        }

        @include hover-transition(all);
      }
    }
  }

  .menu-item a:hover {
    @include max-width-mq($lg-tablet) {
      color: $lt-cyan;
    }
  }
}

.nav__donate {
  display: none;
  margin-left: ms(0,);
  align-self: center;

  @include media-query($lg-tablet) {
    display: block;
  }
}

.nav__close {
  position: absolute;
  top: ms(3, 1em);
  right: ms(2, 1em);

  .close__icon {
    display: inline-block;
    vertical-align: bottom;
    width: ms(5, 1em, $thread: a);
    height: ms(5, 1em, $thread: a);
    fill: $white;
  }

  @include media-query($lg-tablet) {
    display: none;
  }
}
