.c-header__inner,
.c-header__nav,
.nav__list,
.nav__list > .menu-item,
.nav__list > .menu-item > a {
  display: flex;
}

.c-header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: $white;
  border-bottom: 1px solid $lt-gray;
}

.c-header__inner {
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.c-header__logo {
  color: $dark-cyan;
  font-size: ms(0);
  font-weight: map-get($font-weight, semi-bold);
}

.c-header__nav {
  height: inherit;

  ul {
    margin: 0;
    list-style: none;
  }

  @include max-width-mq($lg-tablet) {
    display: none;
  }
}

.c-header__nav-trigger {
  @include media-query($lg-tablet) {
    display: none;
  }
}

.nav__list {
  padding: 0;

  .menu-item a {
    font-size: ms(0, 0.875rem);
    font-weight: map-get($font-weight, semi-bold);

    @include hover-transition(color);
  }

  > .menu-item {
    position: relative;
    padding: 0 ms(0);

    > a {
      position: inherit;
      align-items: center;
      color: $dark-gray;

      &::after {
        content: "";
        position: absolute;
        bottom: ms(1, 0.875rem);
        left: 50%;
        width: 100%;
        height: 3px;
        background-color: $medium-cyan;
        opacity: 0;
        transform: translateX(-50%) translateY(100%);

        @include hover-transition(all);
      }
    }

    .sub-menu {
      position: absolute;
      top: 100%;
      left: ms(0);
      min-width: ms(9);
      padding: ms(-1) ms(0);
      opacity: 0;
      background-color: $white;
      pointer-events: none;
      border: 1px solid $lt-gray;
      box-shadow: 0 1px 1px 0 rgba($black, 0.05);
      transform: translateY(9%);

      a {
        display: block;
        padding: ms(-4) 0;
        color: $md-gray;
      }

      @include hover-transition(all);
    }
  }

  > .menu-item:hover > a,
  .sub-menu .menu-item a:hover {
    color: $medium-cyan;
  }

  > .menu-item:hover {
    > a::after {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }

    .sub-menu {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
    }
  }
}

.nav__donate {
  margin-left: ms(0);
  align-self: center;
}

