.c-header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: $white;
  border-bottom: 1px solid $lt-gray;
}

.c-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.c-header__logo {
  color: $dark-green;
  font-size: ms(1);
  max-width: ms(10);
  line-height: ms(1, 0.875);

  @include serif-font;
}

.nav__list {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;

  .menu-item {
    display: inherit;
    margin-right: ms(2);

    .sub-menu {
      display: none; // for now
    }
  }

  a {
    position: relative;
    z-index: 1;
    color: $dark-gray;
    font-size: ms(-1);

    &:hover {
      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        bottom: ms(-8);
        left: 0;
        display: block;
        width: 100%;
        height: ms(11, 1%);
        background-color: rgba($green, 0.4);
      }
    }

    @include uppercase;
  }
}

