.c-homepage-header {
  min-height: calc(90vh - #{$header-height});
  color: $white;

  @include page-header;
}

.c-homepage-header__title {
  margin-bottom: ms(-2, $thread: a);
  font-size: ms(-1, $thread: a);

  @include sans-serif-font;
  @include uppercase(semi-bold);
}

.c-homepage-header__lead {
  max-width: ms(16, $thread: a);
  margin-bottom: ms(-1, $thread: a);
  font-size: ms(6, $thread: a);

  @include serif-font($line-height: ms(1, 0.875rem, $thread: a));
}

.c-homepage-header__blurb {
  max-width: ms(15, $thread: a);
  margin-bottom: ms(3, $thread: a);
  font-size: ms(1, $thread: a);
  font-weight: map-get($font-weight, light);
  line-height: strip-unit(ms(2, $thread: a));
}
