.c-page-section {
  @include page-section-spacing;
}

.c-page-section--secondary {
  background-color: $xlt-gray;
  padding: ms(5) 0;

  .c-page-section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: ms(0);
  }

  .c-page-section__title {
    @include page-section-header;
  }
}

.c-page-section__cta {
  position: relative;
  top: ms(0, -1rem);
  display: inline-block;
  margin-bottom: ms(-4);
  font-size: ms(-1);
  color: $dark-gray;

  @include uppercase;
  @include link($hover-color: $cyan);
}
