.c-page-header__inner {
  flex: 1;
}

.c-page-header__wrap {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 100%;
}

.c-page-header__title {
  margin-bottom: ms(0);
  font-size: ms(0);
  color: $lt-cyan;

  @include uppercase;
}

.c-page-header__blurb {
  max-width: ms(13);
  margin-bottom: ms(2);
  color: $white;
  font-size: ms(3);

  @include serif-font;
}

.c-page-header--home,
.c-page-header--single {
  @include page-section-spacing;
}

.c-page-header--home {
  height: ms(12);

  @include page-header;
}

.c-page-header--single {
  height: ms(11);
  text-align: center;

  @include page-header;
}
