.c-page-header__inner {
  flex: 1;
}

.c-page-header__wrap {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 100%;
}

.c-page-header__title,
.c-page-header__blurb {
  color: $white;
}

.c-page-header__title {
  margin-bottom: ms(0);
  font-size: ms(5);
}

.c-page-header__blurb {
  margin-bottom: ms(2);
  font-size: ms(1);
}

.c-page-header--home,
.c-page-header--single {
  @include page-section-spacing;
}

.c-page-header--home {
  height: ms(12);

  @include page-header;

  .c-page-header__inner {
    max-width: ms(12);
  }
}

.c-page-header--single {
  height: ms(11);
  text-align: center;

  @include page-header;
}
