.c-page-header__wrap {
  position: relative;
  z-index: 2;
}

.c-page-header__title {
  margin-bottom: ms(0);
  font-size: ms(0);
  color: $lt-cyan;

  @include uppercase;
}

.c-page-header__blurb {
  max-width: ms(13);
  margin-bottom: ms(2);
  color: $white;
  font-size: ms(3);

  @include serif-font;
}

.c-page-header--home,
.c-page-header--single {
  @include page-section-spacing;
}

.c-page-header--home {
  min-height: calc(90vh - #{$header-height});

  @include page-header;
}

.c-page-header--single {
  min-height: calc(60vh - #{$header-height});
  text-align: center;

  @include page-header;
}
