.c-page-section {
  @include page-section-spacing;

  h2 {
    margin-bottom: ms(0);
    color: $dark-cyan;
    font-size: ms(3);

    @include serif-font;
  }
}

.c-page-section--secondary {
  background-color: $xlt-gray;
  padding: ms(5) 0;
}

.c-page-section__cta {
  position: relative;
  top: ms(0, -1rem);
  display: inline-block;
  margin-bottom: ms(-4);
  font-size: ms(-1);
  color: $dark-gray;

  @include uppercase;
  @include link($hover-color: $dark-cyan);
}
