.c-split-content-block,
.c-split-content-block--reverse {
  display: flex;
}

.c-split-content-block {
  flex-direction: column;

  @include media-query($lg-tablet) {
    flex-direction: row;
  }
}

.c-split-content-block--reverse {
  flex-direction: column;

  @include media-query($lg-tablet) {
    flex-direction: row-reverse;
  }
}

.c-split-content-block__img,
.c-split-content-block__text {
  @include media-query($lg-tablet) {
    flex-basis: column-width(6);
  }
}

.c-split-content-block__img {
  min-height: ms(13);

  @include bg-img($position: top);
}

.c-split-content-block__text {
  padding-top: ms(3);

  @extend .l-wrap--small;

  @include media-query($lg-tablet) {
    padding: ms(4) ms(3) 0;
  }

  h2 {
    margin-bottom: ms(0);

    @include page-section-header;
  }

  p {
    @include paragraph-copy;
  }
}

.c-split-content-block__cta {
  margin-top: ms(2);
}
