.c-split-content-block,
.c-split-content-block--reverse {
  display: flex;
}

.c-split-content-block {
  flex-direction: row;
}

.c-split-content-block--reverse {
  flex-direction: row-reverse;
}

.c-split-content-block__img,
.c-split-content-block__text {
  flex-basis: column-width(6);
}

.c-split-content-block__text {
  padding: ms(4) ms(3) 0;

  h2 {
    margin-bottom: ms(0);

    @include page-section-header;
  }

  p {
    @include paragraph-copy;
  }
}

.c-split-content-block__cta {
  margin-top: ms(1);
}
