.o-btn--primary {
  background-color: $green;

  &:hover {
    background-color: $medium-green;
  }

  @include button;
}

.o-btn--secondary {
  background-color: transparent;
  border: 1px solid;

  &:hover {
    background-color: rgba($white, 0.05);
  }

  @include button;
}
