.o-btn--primary {
  background-color: $cyan;

  &:hover {
    background-color: $medium-cyan;
  }

  @include button;
}

.o-btn--secondary {
  background-color: transparent;
  border: 1px solid $white;

  &:hover {
    color: $cyan;
    background-color: $white;
  }

  @include button(regular);
}
