.o-category-tag {
  padding: ms(-4) ms(-1);
  color: $white;
  font-size: ms(-2);
  text-align: center;

  @include uppercase;
}

.c-article,
.c-post-card {
  &.category-press {
    .o-category-tag {
      background-color: map-get($category-colors, press);
    }
  }

  &.category-scholarships {
    .o-category-tag {
      background-color: map-get($category-colors, scholarships);
    }
  }

  &.category-news {
    .o-category-tag {
      background-color: map-get($category-colors, news);
    }
  }

  &.category-events {
    .o-category-tag {
      background-color: map-get($category-colors, events);
    }
  }
}

.c-article.category-uncategorized .c-page-header__parent-title,
.c-post-card.category-uncategorized .c-post-card__img {
  .o-category-tag {
    background-color: map-get($category-colors, uncategorized);
  }
}
