$black: #000;
$white: #fff;

$xlt-gray: #fafafa;
$lt-gray: #e0e0e0;
$gray: #6d6d6d;
$md-gray: #616161;
$dark-gray: #373737;

$cyan: #00838f;
$medium-cyan: #006064;
$dark-cyan: #005662;

$red: #c62828;
$green: #2e7d32;
$blue: #1565c0;
