.l-wrap {
  max-width: ms(15);

  @include container;
}

.l-wrap--no-padding {
  max-width: calc(#{ms(15)} - #{ms(2) * 2});

  @include container($hasPadding: false);
}

.l-wrap--medium {
  max-width: ms(14);

  @include container;
}

.l-wrap--small {
  max-width: ms(13);

  @include container;
}
