/** Typography mixins */

@mixin sans-serif-font {
  font-family: 'franklin-gothic-urw', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@mixin serif-font($weight: bold) {
  font-family: 'schoolbook', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: map-get($font-weight, $weight);
  font-style: normal;
}

@mixin uppercase($weight: medium) {
  text-transform: uppercase;
  letter-spacing: ms(-11);
  font-weight: map-get($font-weight, $weight);
}

@mixin paragraph-copy {
  line-height: ms(2, 1);

  &:not(:last-of-type) {
    margin-bottom: ms(0);
  }
}

/** Animation mixins */

@mixin hover-transition($property) {
  transition: $property 0.15s ease-in-out;
}

/** Layout mixins */
@mixin page-section-spacing {
  margin-bottom: ms(6);
}

@mixin grid-row {
  display: grid;
  column-gap: ms(2);
}

/** Component mixins */

@mixin page-header {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.5);
  }
}

@mixin post-card-custom-styles($color) {
  border-bottom: 5px solid $color;

  .c-post-card__tag {
    background-color: $color;
  }

  .c-post-card__more {
    color: $color;
  }

  &:hover {
    .c-post-card__title {
      color: $color;
    }
  }
}

/** Object mixins */

@mixin button($weight: medium) {
  display: inline-block;
  padding: ms(-1) ms(1);
  color: $white;
  font-size: ms(-1);
  text-align: center;

  @include hover-transition(all);

  &.o-btn--medium {
    font-size: ms(0);
  }

  &.o-btn--large {
    font-size: ms(1);
  }

  @include uppercase($weight);
}
