/** Typography mixins */

@mixin sans-serif-font($line-height: ms(2)) {
  font-family: 'adelle-sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: strip-unit($line-height);
}

@mixin serif-font($weight: bold, $line-height: ms(1)) {
  font-family: 'schoolbook', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: map-get($font-weight, $weight);
  font-style: normal;
  font-feature-settings: "liga";
  line-height: strip-unit($line-height);
}

@mixin uppercase($weight: semi-bold) {
  text-transform: uppercase;
  letter-spacing: ms(-10);
  font-weight: map-get($font-weight, $weight);
}

@mixin footer-header {
  margin-bottom: ms(-5);
  font-size: ms(0);
  font-weight: map-get($font-weight, bold);
}

@mixin footer-copy {
  font-size: ms(-1);
}

@mixin link($color: inherit, $hover-color: $color, $has-border: true) {
  position: relative;
  color: $color;

  @if $has-border {
    border-bottom: 3px solid;
    border-color: $hover-color;
  }

  &:hover {
    color: $hover-color;
  }

  @include hover-transition(color);
}

@mixin paragraph-copy {
  line-height: ms(2, 1);

  &:not(:last-of-type) {
    margin-bottom: ms(0);
  }

  a {
    @include link($color: $dark-gray, $hover-color: $cyan);
  }
}

@mixin page-section-header {
  color: $dark-cyan;
  font-size: ms(3);

  @include serif-font;
}

/** Animation mixins */

@mixin hover-transition($property) {
  transition: $property 0.15s ease-in-out;
}

/** Layout mixins */
@mixin page-section-spacing {
  margin-bottom: ms(5);
}

@mixin grid-row($gap: ms(2)) {
  display: grid;
  column-gap: $gap;
}

@mixin container($size) {
  @if $size == 'large' {
    max-width: ms(15);
  }

  @else if $size == 'small' {
    max-width: ms(13);
  }

  width: 100%;
  margin: 0 auto;
  padding-left: ms(2);
  padding-right: ms(2);
}

/** Component mixins */

@mixin page-header {
  position: relative;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.125);
  }

  .l-wrap {
    position: relative;
    z-index: 2;
  }
}

@mixin post-card-custom-styles($color) {
  border-bottom: 5px solid $color;

  .c-post-card__tag {
    background-color: $color;
  }

  .c-post-card__more {
    color: $color;
  }

  &:hover {
    .c-post-card__title {
      color: $color;
    }
  }
}

/** Object mixins */

@mixin button($weight: semi-bold) {
  display: inline-block;
  padding: ms(-1) ms(1);
  color: $white;
  font-size: ms(-1);
  text-align: center;
  font-weight: map-get($font-weight, semi-bold);

  @include uppercase;
  @include hover-transition(all);
}
