/**
 * WordPress Generated Classes
 * @see http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */

$spacer: ms(2);

/** Media alignment */

.alignnone,
.aligncenter {
  margin: $spacer auto;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.alignleft,
.alignright {
  width: 100%;
  max-width: 100%;
  margin-top: $spacer;
  margin-bottom: $spacer;
  height: auto;
}

@include media-query($lg-mobile) {
  .alignleft,
  .alignright {
    width: initial;
    margin-top: $spacer / 2;
    margin-bottom: $spacer / 2;
  }

  .alignleft {
    float: left;
    margin-right: $spacer * 2;
  }

  .alignright {
    float: right;
    margin-left: $spacer * 2;
  }
}

/** Captions */

.wp-caption-text {
  margin-top: ms(-2);
  font-size: ms(-1);
  font-weight: map-get($font-weight, semi-bold);
  color: $md-gray;
}

/** Galleries */

.gallery {
  margin: $spacer 0;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: ms(2);
  row-gap: ms(2);

  @include grid-row;

  @include media-query($lg-mobile) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery-item {
  margin: 0;
}
